@page
@model CinemaBooking.Pages.Customer.Booking.CinemaSelectionModel
@{
	Layout = "/Pages/Shared/_UserLayout.cshtml";
	ViewData["Title"] = "Selection Seat";
}
<!DOCTYPE html>
<html>
<head>
	<link href="~/customer/assets1/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom Theme files -->
	<link href="~/customer/assets1/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Custom Theme files -->
	<script src="~/customer/assets1/js/jquery.min.js"></script>
	<script src="~/customer/assets1/js/bootstrap.min.js"></script>
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="My Show Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
	<link href='//fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<!-- start menu -->
	<link href="~/customer/assets1/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="~/customer/assets1/js/megamenu.js"></script>
	<script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
	<script type="text/javascript" src="~/customer/assets1/js/jquery.leanModal.min.js"></script>
	<link rel="stylesheet" href="~/customer/assets1/css/font-awesome.min.css" />
	<script src="~/customer/assets1/js/easyResponsiveTabs.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
	</script>
	<link rel="stylesheet" href="~/customer/assets1/css/menu.css" />
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<!---- start-smoth-scrolling---->
	<script type="text/javascript" src="~/customer/assets1/js/move-top.js"></script>
	<script type="text/javascript" src="~/customer/assets1/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
			});
		});
	</script>
	<!---- start-smoth-scrolling---->
</head>
<body>
	<div class="container">
		<div class="main-content" >
			<!-- AddThis Smart Layers END -->
			<div class="now-showing-list">
				<div class="col-md-4 movies-by-category movie-booking">
					<div class="movie-ticket-book">
						<div class="clearfix"></div>
						<img src="@Model.Movie.Image" alt="" />
						<div class="bahubali-details">
							<h4>Release Date:</h4>
							<p>@Model.Movie.PublishTime</p>
							<h4>Duration:</h4>
							<p>@Model.Movie.Length</p>
							<h4>Director:</h4>
							<p>@Model.Movie.DirectorName</p>
							<h4>Country:</h4>
							<p>@Model.Movie.Country</p>
							<h4>Genre:</h4>
							<p>@Model.Movie.CategoriesAsString</p>
							<h4>Actors:</h4>
							<p>@Model.Movie.ActorsAsString</p>
						</div>
					</div>
				</div>
				<div class="col-md-8 movies-dates">
					<div class="movie-date-selection">
						<ul>
							<li class="location">
								<a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">11:00 AM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">3:00 PM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">6dotnet:20 PM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">9:00 PM</a>
							</li>
						</ul>
					</div>
					<div class="movie-date-selection">
						<ul>
							<li class="location">
								<a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">11:00 AM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">3:00 PM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">6:20 PM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">9:00 PM</a>
							</li>
						</ul>
					</div>
					<div class="movie-date-selection">
						<ul>
							<li class="location">
								<a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">11:00 AM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">3:00 PM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">6:20 PM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">9:00 PM</a>
							</li>
						</ul>
					</div>
					<div class="movie-date-selection">
						<ul>
							<li class="location">
								<a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">11:00 AM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">3:00 PM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">6:20 PM</a>
							</li>
							<li class="time">
								<a href="/Customer/CinemaSelection/SeatSelection">9:00 PM</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
					containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>