@page
@model CinemaBooking.Pages.Admin.Account.List
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Account List";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/style.css">

</head>
<body>

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Accounts</h4>
            </div>
        </div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div class="row filter-row">
            <form method="get" class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <label class="focus-label">Enter Name</label>
                        <input type="text" class="form-control floating" name="name">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <button type="submit" class="btn btn-success btn-block">Search</button>
                </div>
                @* <input class="form-control mr-sm-2" name="name" type="text" placeholder="Search" *@
                @*        aria-label="Search" style="height: 30px;"> *@
                @* <button class="btn btn-outline-success my-2 my-sm-0 ml-2" *@
                @*         type="submit"> *@
                @*     Search *@
                @* </button> *@
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-border table-striped custom-table datatable mb-0">
                        <thead>
                        <tr>
                            <th>Account ID</th>
                            <th style="min-width:200px;">Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th style="min-width: 110px;">Hire Date</th>
                            <th style="min-width: 110px;">Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.Accounts == null)
                        {
                            <p>No data</p>
                        }
                        else
                        {
                            @foreach (var account in Model.Accounts)
                            {
                                <tr>
                                    <td>@account.AccountId</td>
                                    <td>@account.FullName</td>
                                    <td>@account.Email</td>
                                    <td>@account.PhoneNumber</td>
                                    <td>@account.DateOfBirth?.ToString("dd-mm-yyyy")</td>
                                    @if (account.Status == 1)
                                    {
                                        <td><span class='custom-badge status-green'>Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class='custom-badge status-red'>InActive</span></td>
                                    }


                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                @if (account.Status == 1)
                                                {
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_room_@account.AccountId">
                                                        <i class="fa fa-refresh m-r-5"></i>InActive
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_room_@account.AccountId">

                                                        <i class="fa fa-refresh m-r-5"></i>Active
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <div id="delete_room_@account.AccountId" class="modal fade delete-modal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <img src="~/admin/assets/img/sent.png" alt="" width="50" height="46">
                                                    <h3>Are you sure you want to delete this Account?</h3>
                                                    <div class="m-t-20">
                                                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                        <form method="post" style="display:inline;">
                                                            <input type="hidden" name="id" value="@account.AccountId"/>
                                                            <button type="submit" class="btn btn-danger">Action</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_room" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt="" width="50" height="46">
                    <h3>Are you sure want to delete this Account?</h3>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/admin/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/admin/assets/js/popper.min.js"></script>
<script src="~/admin/assets/js/bootstrap.min.js"></script>
<script src="~/admin/assets/js/jquery.dataTables.min.js"></script>
<script src="~/admin/assets/js/dataTables.bootstrap4.min.js"></script>
<script src="~/admin/assets/js/jquery.slimscroll.js"></script>
<script src="~/admin/assets/js/select2.min.js"></script>
<script src="~/admin/assets/js/app.js"></script>
</body>
</html>