@page
@model CinemaBooking.Pages.PaymentResponse


@if (Model.PaymentResponseModel != null)
{
<div class="detail-row">
    <span class="detail-label">Success:</span>
    <span class="detail-value">@Model.PaymentResponseModel.Success</span>
</div>

<div class="detail-row">
    <span class="detail-label">Payment Method:</span>
    <span class="detail-value">@Model.PaymentResponseModel.PaymentMethod</span>
</div>

<div class="detail-row">
    <span class="detail-label">Order Description:</span>
    <span class="detail-value">@Model.PaymentResponseModel.OrderDescription</span>
</div>

<div class="detail-row">
    <span class="detail-label">Order ID:</span>
    <span class="detail-value">@Model.PaymentResponseModel.OrderId</span>
</div>

<div class="detail-row">
    <span class="detail-label">Payment ID:</span>
    <span class="detail-value">@Model.PaymentResponseModel.PaymentId</span>
</div>

<div class="detail-row">
    <span class="detail-label">Transaction ID:</span>
    <span class="detail-value">@Model.PaymentResponseModel.TransactionId</span>
</div>

<div class="detail-row">
    <span class="detail-label">Token:</span>
    <span class="detail-value">@Model.PaymentResponseModel.Token</span>
</div>

<div class="detail-row">
    <span class="detail-label">VnPay Response Code:</span>
    <span class="detail-value">@Model.PaymentResponseModel.VnPayResponseCode</span>
</div>
}
else
{
<p>No payment response available.</p>
}