@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Html
@model CinemaBooking.Pages.Admin.Movie.ListMovieModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Movie List";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">List Movie</h4>
                </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a href="/Admin/Movie/CreateMovie" class="btn btn-primary float-right btn-rounded">
                        <i class="fa fa-plus"></i> Add Movie
                    </a>
                </div>
            </div>
            <div class="row filter-row">
                <form method="get" class="row">
                    <!-- Movie Title Filter -->
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
                            <label class="focus-label">Movie Title</label>
                            <input type="text" class="form-control floating" name="Title" value="@Model.Title">
                        </div>
                    </div>

                    <!-- Category Filter -->
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                             <label class="focus-label">Category</label>
                            <select class="select floating" name="CategoryId">
                                <option value="">Select Category</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.CategoryId" selected="@(Model.CategoryId == category.CategoryId)">
                                        @category.CategoryName
                                    </option>
                                }
                            </select>

                        </div>
                    </div>

                    <!-- Status Filter -->
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus">
                            <label class="focus-label">Status</label>
                            <select class="select floating" name="Status">
                                <option value="">Select Status</option>
                                <option value="Released" selected="@(Model.Status == "Released")">Released</option>
                                <option value="Unreleased" selected="@(Model.Status == "Unreleased")">Unreleased</option>
                            </select>

                        </div>
                    </div>

                    <!-- Search Button -->
                    <div class="col-sm-6 col-md-3">
                        <button type="submit" class="btn btn-success btn-block">Search</button>
                    </div>
                </form>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th>Movie ID</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Length</th>
                                    <th>Description</th>
                                    <th>Age Limit</th>
                                    <th>Warning</th>
                                    <th>Publish Time</th>
                                    <th>Origin</th>
                                    <th>Status</th>
                                    <th>Director</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var movie in Model.Movies)
                                {
                                    <tr>
                                        <td>@movie.MovieId</td>
                                        <td>@movie.Title</td>
                                        <td>
                                            @foreach (var assignment in movie.MovieCategoryAssignments)
                                            {
                                                @assignment.Category.CategoryName
                                                @if (assignment != movie.MovieCategoryAssignments.Last())
                                                {
                                                    @: ,
                                                }
                                            }
                                        </td>

                                        <td>@movie.Length</td>
                                        <td>@movie.Description</td>
                                        <td>@movie.AgeLimit</td>
                                        <td>@movie.WarningText</td>
                                        <td>@movie.PublishTime.ToString("yyyy-MM-dd")</td>
                                        <td>@movie.Country</td>
                                        <td>
                                            @(movie.Status == 1
                                                ? new HtmlString("<span class='custom-badge status-green'>Released</span>")
                                                : new HtmlString("<span class='custom-badge status-red'>Unreleased</span>")
                                                )
                                        </td>
                                        <td>@movie.Director.DirectorName</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_room_@movie.MovieId">
                                                        <i class="fa fa-refresh m-r-5"></i> Toggle Status
                                                    </a>
                                                    <a class="dropdown-item" href="/Admin/Movie/UpdateMovie/@movie.MovieId">
                                                        <i class="fa fa-pencil m-r-5"></i> Edit
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <div id="delete_room_@movie.MovieId" class="modal fade delete-modal" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-body text-center">
                                                        <img src="~/admin/assets/img/sent.png" alt="" width="50" height="46">
                                                        <h3>Are you sure you want to change status this Movie?</h3>
                                                        <div class="m-t-20">
                                                            <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                            <form method="post" style="display:inline;">
                                                                <input type="hidden" name="id" value="@movie.MovieId" />
                                                                <button type="submit" class="btn btn-danger">Sure</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Confirm Change Status Modal -->
        

    </div>

    <script src="~/admin/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/admin/assets/js/popper.min.js"></script>
    <script src="~/admin/assets/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/admin/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/assets/js/jquery.slimscroll.js"></script>
    <script src="~/admin/assets/js/select2.min.js"></script>
    <script src="~/admin/assets/js/app.js"></script>
</body>
</html>